@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme{
    --color-primary: #2E3840;
}
*{
    box-sizing: border-box;
    padding: 0;
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto;
    font-weight: 600;
}
button{
    height: 40px !important;
    border-radius: 1 !important;
    box-shadow: none !important;
}
input{
    height: 40px !important;
    border-radius: 0 !important;
    border: 1px solid #d1d1d1 !important;
}
textarea{
    border-radius: 0 !important;
    border: 1px solid #bbbbbb !important;
}
input:focus,textarea:focus{
    box-shadow: none !important;
    border: 1px solid #616161 !important;
}
.ant-form-item{
    margin-bottom: 10 !important;
}
.ant-form-item-label{
    padding: 0 !important;
}
table{
    border:1px solid #bbbbbb !important;
}
i{
    font-size: 20px !important;
}